<p id="notice"><%= notice %></p>

<h1>My Exercise-Weight Journal</h1>

<p>
  <strong>Latest Weight</strong>
  <%= Weight.all.order(weigh_date_on: :desc).first.number %>
  <br>
  <%= link_to 'See Weight Journal', weights_path %>
</p>

<p>
  <strong>All-Time Steps Taken</strong>
  <%= TakenStep.all.sum(:count) %>
  <br>
</p>

<p>
  <strong>Net Calories Yesterday</strong>
  <%= ConsumedCalory.get_net_calories(Date.yesterday) %>
  <br>
  <%= link_to 'See Calorie Journal', consumed_calories_path %>
  <br>
</p>

<p>
  <strong>Latest Exercise Entry</strong>
  <%e = PerformedExercise.all.order(created_at: :desc).first%>
  <%= "#{e.exercise} for #{e.duration} minutes" %>
  <br>
  <%= link_to 'See Exercise Journal', performed_exercises_path %>
</p>

<br>

<%= link_to 'New Weight', new_weight_path %>
