<%= form_for(@exercise_performed) do |f| %>
  <% if @exercise_performed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise_performed.errors.count, "error") %> prohibited this exercise_performed from being saved:</h2>

      <ul>
      <% @exercise_performed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :exercise %><br>
    <%= f.text_field :exercise %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
