<p id="notice"><%= notice %></p>

<h1>My Calorie Consumption Journal</h1>

<table>
  <thead>
    <tr>
      <th>Calories</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calories.each do |c| %>
      <tr>
        <td><%= c.total %></td>
        <td><%= c.consumed_on %></td>
        <td><%= link_to 'Show', c %></td>
        <td><%= link_to 'Edit', edit_consumed_calory_path(c) %></td>
        <td><%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calorie Entry', new_consumed_calory_path %> |
<%= link_to 'See Calorie Journal', consumed_calories_path %> |
<%= link_to 'See Step Journal', taken_steps_path %> |
<%= link_to 'See Exercise Journal', performed_exercises_path %> |
<%= link_to 'See Weight Journal', weights_path %> |
<%= link_to 'Dashboard', root_path %>
