<%= form_for(@performed_exercise) do |f| %>
  <% if @performed_exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@performed_exercise.errors.count, "error") %> prohibited this performed_exercise from being saved:</h2>

      <ul>
      <% @performed_exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :exercise %><br>
    <%= f.text_field :exercise %><br>
  
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <!-- <div class="field">
    <%= f.label :calories_burned %><br>
    <%= f.number_field :calories_burned %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
