<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= ExerciseType.where(id: @performed_exercise.exercise_type_id).first.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @performed_exercise.duration %>
</p>

<p>
  <strong>Calories burned:</strong>
  <%= @performed_exercise.calories_burned %>
</p>

<p>
  <strong>Done on:</strong>
  <%= @performed_exercise.done_on %>
</p>

<%= link_to 'Edit', edit_performed_exercise_path(@performed_exercise) %> |
<%= link_to 'Back', performed_exercises_path %>
