<p id="notice"><%= notice %></p>

<h1>My Steps Taken</h1>

<table>
  <thead>
    <tr>
      <th>Steps (#)</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @taken_steps.each do |step| %>
      <tr>
        <td><%= step.count %></td>
        <td><%= step.done_on %></td>
        <td><%= link_to 'Show', step %></td>
        <td><%= link_to 'Edit', edit_taken_step_path(step) %></td>
        <td><%= link_to 'Destroy', step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Steps Entry', new_taken_step_path %> |
<%= link_to 'See Step Journal', taken_steps_path %> |
<%= link_to 'See Exercise Journal', performed_exercises_path %> |
<%= link_to 'See Calorie Journal', consumed_calories_path %> |
<%= link_to 'See Weight Journal', weights_path %> |
<%= link_to 'Dashboard', root_path %>
